.home-div{
    text-align: center;
    font-size: calc(10px + 6vmin);
    font-weight: bolder;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 19%, rgba(252,70,107,1) 76%);
}
  
  
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }